.custom1 .modal-footer{
			background-color: #443c3c;
		}

.custom2:hover{
			background-color: #484848;
			color: white;
			font-weight: bold;
		}
.custom3:hover{
			background-color: #E3DEDE;			
		}